@font-face 
    font-family: 'Inter Variable'
    src: url('../fonts/inter-variable.ttf') format('truetype')
    font-weight: normal
    font-style: normal

.font__sora-variable
    font-family: "Inter Variable", sans-serif

.text__justify
    text-align: justify

.text__between-lines
    border-top: 2px solid #999
    padding-top: 2px
    border-bottom: 2px solid #999

.text__shadow-1
    text-shadow: 0 0 5px #000

.text__999
    color: #999

.fs-7
    font-size: 14px

.lh-2
    line-height: 54px

.ls-1
    letter-spacing: 1%

.ls-2
    letter-spacing: 2%