.body__index
    .index__header
        .header__nav
            padding-top: 20px

            .nav__container
                border-radius: 22px
                margin-left: 14.5px
                margin-right: 14.5px

                @include media-breakpoint('lg')
                    margin-left: 33.5px
                    margin-right: 33.5px

                .navbar-brand
                    padding: 20px 0px 20px 22px

                    img
                        width: 154px