.body__index
    background: $color-white
    width: 100%
    height: 100dvh

    .index__header

    .index__main
        z-index: 1

        .our-vehicles
            height: 990px
            background: url('../img/index-our_vehicles/bg-our_vehicles.png')
            background-size: 100% auto
