.body__index
    background: url('../img/background.png')
    background-size: 100% auto
    background-position: center
    width: 100%
    height: 100dvhr

    .index__main
        z-index: 1

        .main__our-vehicles
            height: 750px

            @include media-breakpoint('md')
                height: 800px

            @include media-breakpoint('xxl')
                height: 900px

            .our-vehicles__top
                .top__title
                    padding-top: 40px
                    padding-bottom: 20px

                    @include media-breakpoint('sm')
                        padding-top: 70px

                    @include media-breakpoint('md')
                        padding-top: 130px
                        padding-right: 37px

                    h1
                        font-size: 40px
                        font-weight: bold
                        text-align: center

                        @include media-breakpoint('md')
                            font-size: 40px
                            text-align: end

                    p
                        display: none
                        text-align: center

                        @include media-breakpoint('md')
                            display: block
                            font-size: 32px
                            text-align: end

        .main__steps
            height: 1400px
            background: url('../img/index-steps/background-mobile.png')
            background-size: 100% 100%

            @include media-breakpoint('md')
                height: 700px
                background: url('../img/index-steps/background.png')
                background-size: 100% 100%

            .steps__content
                position: relative
                top: 130px
                width: 60%
                text-align: center

                @include media-breakpoint('md')
                    width: 80%

                .content__top
                    .top__title
                        font-size: 40px
                        color: $color-white
                        font-weight: bold

                        @include media-breakpoint('md')
                            font-size: 61px

                    .top__subtitle
                        font-size: 32px
                        color: $color-red

                .content__down
                    margin-top: 100px
                    display: block
                    justify-content: center

                    @include media-breakpoint('md')
                        margin-top: 50px
                        display: flex

                    div
                        width: fit-content
                        text-align: center
                        color: $color-white

                        img
                            width: 150px

                            @include media-breakpoint('md')
                                width: 180px

                        .text
                            font-size: 26px
                            line-height: 30px
                            margin-top: 15px

                        .middle-dash
                            position: relative
                            width: 53px
                            height: 2px
                            top: 30%
                            transform: rotate(90deg)

                            @include media-breakpoint('md')
                                transform: rotate(0deg)

        .main__location
            height: 750px

            @include media-breakpoint('md')
                height: 700px

            .location__content
                position: relative
                top: 10px

                .content__top
                    .top__title
                        width: 90%
                        font-size: 40px
                        text-align: center
                        line-height: 50px
                        margin: 0 auto

                        @include media-breakpoint('md')
                            width: 55%
                            font-size: 61px
                            text-align: end
                            line-height: 70px
                            margin: 0 41px 0 auto

                    .top__subtitle
                        width: 90%
                        font-size: 28px
                        text-align: center
                        margin: 20px auto 0

                        @include media-breakpoint('md')
                            width: 70%
                            font-size: 36px
                            text-align: end
                            margin: 30px 41px 0 auto

                .content__bottom
                    .bottom__map
                        margin-top: 50px
                        text-align: center

                        @include media-breakpoint('md')
                            margin-top: 15px

                        @include media-breakpoint('lg')
                            margin-top: 50px

                        .gmaps
                            width: 90%
                            height: 340px
                            border: none
                            border-radius: 30px

                            @include media-breakpoint('sm')
                                height: 440px

                            @include media-breakpoint('md')
                                width: 80%
                                height: 250px
                                border-radius: 20px

                            @include media-breakpoint('lg')
                                width: 60%

                            @include media-breakpoint('xl')
                                height: 280px

                            @include media-breakpoint('xxl')
                                width: 80%
                                height: 350px

        .main__elections
            background: $color-white
            height: 800px

            @include media-breakpoint('md')
                height: 470px

            @include media-breakpoint('lg')
                height: 500px

            @include media-breakpoint('xl')
                height: 550px

            .elections__content
                .content__top
                    .top__title
                        padding-top: 70px
                        font-size: 35px

                        @include media-breakpoint('md')
                            font-size: 61px

                .content__bottom
                    margin-top: 50px
                    width: 100%
                    column-gap: 30px

                    div
                        .card
                            width: 330px
                            height: 180px
                            border-radius: 30px
                            border: none

                            @include media-breakpoint('md')
                                width: 220px
                                height: 220px
                                border-radius: 20px
                                

                            @include media-breakpoint('lg')
                                width: 240px
                                height: 240px

                            @include media-breakpoint('xl')
                                width: 280px
                                height: 280px

                            .card-body
                                color: $color-white
                                padding: 0
                                text-align: center

                                .card-title
                                    position: absolute
                                    width: 100%
                                    font-size: 30px
                                    bottom: 70px

                                    @include media-breakpoint('md')
                                        font-size: 22px
                                        bottom: 50px

                                    @include media-breakpoint('lg')
                                        font-size: 24px
                                        bottom: 60px

                                    @include media-breakpoint('xl')
                                        font-size: 30px
                                        bottom: 70px

                                .card-text
                                    position: absolute
                                    font-size: 20px
                                    bottom: 20px
                                    margin: 0 10px

                                    @include media-breakpoint('md')
                                        font-size: 14px

                                    @include media-breakpoint('lg')
                                        font-size: 15px

                                    @include media-breakpoint('xl')
                                        font-size: 20px

                        .election1
                            background: url('../img/index-elections/election1-mobile.png')
                            background-size: 100% 100%

                            @include media-breakpoint('md')
                                background: url('../img/index-elections/election1.png')
                                background-size: 100% 100%

                        .election2
                            background: url('../img/index-elections/election2-mobile.png')
                            background-size: 100% 100%

                            @include media-breakpoint('md')
                                background: url('../img/index-elections/election2.png')
                                background-size: 100% 100%

                        .election3
                            background: url('../img/index-elections/election3-mobile.png')
                            background-size: 100% 100%

                            @include media-breakpoint('md')
                                background: url('../img/index-elections/election3.png')
                                background-size: 100% 100%

        .main__services
            //background: $color-white
            height: 830px

            @include media-breakpoint('md')
                height: 520px

            @include media-breakpoint('lg')
                height: 590px

            @include media-breakpoint('xl')
                height: 670px

            .services__content
                .content__top
                    .top__title
                        padding-top: 50px
                        font-size: 40px
                        line-height: 40px

                        @include media-breakpoint('md')
                            font-size: 61px

                    .top__subtitle
                        font-size: 28px

                        @include media-breakpoint('md')
                            font-size: 36px

                .content__middle
                    margin-top: 40px
                    width: 100%
                    column-gap: 50px

                    div
                        .card
                            width: 330px
                            height: 251px
                            border-radius: 30px
                            border: none

                            @include media-breakpoint('md')
                                width: 300px
                                height: 228px
                                border-radius: 20px

                            @include media-breakpoint('lg')
                                width: 400px
                                height: 304px

                            @include media-breakpoint('xl')
                                width: 493px
                                height: 375px

                            .card-body
                                color: $color-white
                                padding: 0
                                text-align: center


                                .card-title
                                    position: absolute
                                    width: 100%
                                    font-size: 30px
                                    bottom: 50px
                                    padding: 0 20px

                                    @include media-breakpoint('md')
                                        font-size: 20px
                                        padding: 0 10px

                                    @include media-breakpoint('lg')
                                        font-size: 24px

                                    @include media-breakpoint('xl')
                                        font-size: 30px
                                        padding: 0 100px
                                        bottom: 80px

                                .card-text
                                    position: absolute
                                    width: 100%
                                    font-size: 20px
                                    bottom: 10px
                                    padding: 0 40px

                                    @include media-breakpoint('md')
                                        font-size: 16px

                                    @include media-breakpoint('lg')
                                        font-size: 18px

                                    @include media-breakpoint('xl')
                                        font-size: 20px
                                        padding: 0 120px
                                        bottom: 30px

                        .service1
                            background: url('../img/index-services/service1.png')
                            background-size: 100% 100%

                        .service2
                            background: url('../img/index-services/service2.png')
                            background-size: 100% 100%

                .content__bottom
                    margin-top: 40px

                    .button
                        padding-left: 40px
                        padding-right: 40px

        .main__contact
            background: $color-white
            height: 900px

            @include media-breakpoint('sm')
                height: 750px

            @include media-breakpoint('md')
                height: 850px 
                overflow: hidden

            @include media-breakpoint('lg')
                height: 800px

            @include media-breakpoint('xl')
                height: 600px

            @include media-breakpoint('xxl')
                height: 800px

            @include media-breakpoint('xxxl')
                height: 900px
                

            .contact__content
                height: fit-content

                .content__top
                    margin-left: 0

                    @include media-breakpoint('md')
                        margin-left: 50px

                    .top__title
                        padding-top: 50px
                        font-size: 40px
                        text-align: center

                        @include media-breakpoint('md')
                            padding-top: 100px
                            font-size: 61px
                            text-align: start

                    .top__subtitle
                        font-size: 22px
                        text-align: center

                        @include media-breakpoint('md')
                            font-size: 36px
                            text-align: start

                .content__middle
                    position: relative
                    top: 30px

                    @include media-breakpoint('xl')
                        top: -125px

                    .image
                        background: url('../img/index-contact/contact-mobile.png')
                        background-size: 100% 100%
                        height: 500px
                        margin: 0 auto

                        @include media-breakpoint('sm')
                            background: url('../img/index-contact/contact.png')
                            background-size: 100% 100%
                            width: 550px
                            height: 350px
                            
                        @include media-breakpoint('md')
                            width: 750px
                            height: 450px

                        @include media-breakpoint('lg')
                            margin-left: auto
                            margin-right: 39px

                        @include media-breakpoint('xxl')
                            width: 900px
                            height: 550px

                        @include media-breakpoint('xxxl')
                            width: 1200px
                            height: 700px
                
                .contact__bottom
                    position: relative
                    top: 70px
                    text-align: center

                    @include media-breakpoint('lg')
                        text-align: start
                        top: -340px
                        left: 39px

                    @include media-breakpoint('xxl')
                        top: -450px

                    @include media-breakpoint('xxxl')
                        top: -600px

                    .button
                        padding-left: 40px
                        padding-right: 40px

    .index__footer
        background: $color-white
        height: 410px
        box-shadow: 0 -14px 0 $color-red
        overflow: hidden

        @include media-breakpoint('sm')
            height: 420px

        @include media-breakpoint('md')
            box-shadow: 0 -8px 0 $color-red

        @include media-breakpoint('lg')
            height: 350px

        .footer__content
            .content__top
                position: relative
                width: 100%
                padding-top: 70px
                display: inline-flex
                justify-content: center

                @include media-breakpoint('lg')
                    width: 30%
                    float: inline-end
                    top: 75px
                    right: 20px

                div
                    a
                        img
                            width: 100%

                .rrss-icon
                    width: 45px

                .rrss-icon.icon-whatsapp
                    margin: 0 20%

            .content__middle
                position: relative
                text-align: center
                top: 100px
                display: flex

                @include media-breakpoint('lg')
                    text-align: start
                    top: 70px
                    left: 26px

                @include media-breakpoint('xxl')
                    left: 50px

                @include media-breakpoint('xxxl')
                    left: 100px

                a
                    margin: 0 auto

                    @include media-breakpoint('lg')
                        margin: 0

                    img
                        width: 300px
                        margin: 0 auto

                        @include media-breakpoint('sm')
                            width: 350px

                        @include media-breakpoint('lg')
                            width: 317px
                            margin: 0

                        @include media-breakpoint('xxl')
                            width: 400px

                        @include media-breakpoint('xxxl')
                            width: 500px

                .middle__info
                    position: relative
                    top: 40px
                    left: 70px

                    @include media-breakpoint('lg')
                        left: 100px

                    @include media-breakpoint('xxl')
                        top: 50px

                    @include media-breakpoint('xxxl')
                        left: 200px

                    h4
                        line-height: 10px

                    hr
                        border: 3px solid $color-black
                        opacity: 1

                    .info
                        display: grid
                        grid-template-columns: 1fr 2fr
                        font-size: 13px
                        line-height: 20px
                        font-weight: 600

            .content__bottom
                position: relative
                text-align: center
                top: 100px

                @include media-breakpoint('lg')
                    top: 100px
                    text-align: start
                    left: 26px

                @include media-breakpoint('xxl')
                    left: 50px

                h5
                    padding-top: 60px
                    font-style: italic